@model Coop.ViewModels.CompanyModel

@{
    ViewBag.Title = "MyCompany";
}

<h2>MyCompany</h2>


<label class="label" for="surname">Название</label>
@Html.EditorFor(model => model.Name)<Br>

<label>@Model.Date</label>

<div>
    <ul>
        @foreach (var item in Model.Houses)
        {
            <li>
                <a href="../House/@item.Id">
                    @item.Country,@item.City,@item.Street,@item.HouseNumber
                </a>
            </li>
        }
    </ul>
    <div>
        <h2> Добавить дом </h2>
        <form method="post" action="../NewHouse">
            <ul>
                <li>
                    <label>Страна</label>
                </li>
                <li>
                    <input type="text" name="Country" />
                </li>
                <li>
                    <label>Город</label>
                </li>
                <li>
                    <input type="text" name="City" />
                </li>
                <li>
                    <label>Улица</label>
                </li>
                <li>
                    <input type="text" name="Street">
                </li>
                <li>
                    <label>Номер улицы</label>
                </li>
                <li>
                    <input type="number" name="HouseNumber" />
                </li>
                <li>
                    <label>Количество квартир</label>
                </li>
                <li>
                    <input type="number" name="ApartmentNumber">
                </li>
                <li>
                    <input type="hidden" name="Id" value=@Model.Id />
                </li>
                <li>
                    <input type="submit" value="Добавить" />
                </li>
            </ul>
        </form>
    </div>
</div>
