@model List<Coop.ViewModels.CompanyModel>

@{
    ViewBag.Title = "MyCompanys";
}

<h2>MyCompanys</h2>

<ul>
    @foreach (var a in Model)
    {
        <li>
            <a href="MyCompany/@a.Id">
                @a.Name
            </a>
        </li>
    }
</ul>