@model Coop.ViewModels.UserModel

<div class="container">
    @using (Html.BeginForm())
    {
        <h2>Учетная запись</h2>
        <h4>Личные данные</h4>
        <p>
            <label for="surname">Фамилия</label>
            @Html.EditorFor(model => model.SurName)<Br>
            <label for="firstname">Имя</label>
            @Html.EditorFor(model => model.FirstName)<Br>
            <label for="patronymic">Отчество</label>
            @Html.EditorFor(model => model.Patronymic)<Br>
            <label for="email">Электронная почта</label>
            @Html.EditorFor(model => model.Email)
        </p>
        <h4>Настройки конфиденцифльности</h4>
        <input type="submit" value="Обновить данные"><Br>
    }
    <button onclick="location.href ='../Account/NewCompany'">
        Добавить кооператив
    </button>
    <button onclick="location.href ='../Profile/MyCompanys'">
        Управление кооперативом
    </button>
    <button onclick="location.href ='../Account/SignIn/Roomer'">
        Вход в комнату жильца
    </button>

</div>