@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 module-box-top">
        <h2>Зарегестрируйти пользователя</h2>
        <p>Создание аккаунта пользователя в сервисе Dom.Управа, который позволит управлять хозяйством, или же участваовать в управлении и контроле домом. </p>
        <button class="btn btn-primary" href="@Url.Action("Register", "Account")">
            Создание пользователя
        </button>
    </div>
</div>

<div class="jumbotron">
    <div class="header-text">
        Dom.Управа
    </div>
    <p class="lead" style="color:cornsilk">Dom.Управа бесплатный сервис для управления, ведения и контроля хозяйст, многоквартирных домов и котеджных поселков.</p>    
</div>

<div class="row">
    <div class="col-md-3 module-box-combo">
        <h2>Создайте управление</h2>
        <p>Создать управление и получить возможность управления домами(квартирами), и добавления пользователей.</p>
        <p>
            <button class="btn btn-primary" href="">
                Создать управление
            </button>
        </p>
    </div>
    <div class="col-md-3 module-box-combo">
        <h2>Войти пользователю</h2>
        <p>Пользователь входит в свое управление по приглошению от главы управления.</p>
        <button class="btn btn-primary" href="">
            Вход пользователя
        </button>
    </div>
    <div class="col-md-3 module-box-combo">
        <h2>Вход работнику</h2>
        <p>Создание аккаунта пользователя в сервисе Dom.Управа, который позволит управлять хозяйством, или же участваовать в управлении и контроле домом. </p>
        <button class="btn btn-primary" href="">
            Создание пользователя
        </button>
    </div>
</div>