@model RegModel

@{
    ViewBag.Title = "Register";
}

<label>Регистрация</label>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputSurName">Фамилия</label>
            <div>
                <input type="text" id="inputSurName" class="form-control" placeholder="Фамилия" name="Surname" />
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="inputFirstName">Имя</label>
            <div>
                <input type="text" id="inputFirstName" class="form-control" placeholder="Имя" name="FirstName" />
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="inputPatronymic">Отчество</label>
            <div>
                <input type="text" id="inputPatronymic" class="form-control" placeholder="Отчество" name="Patronymic" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail">Электронная Почта</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Email" name="Email" />
    </div>

    <div class="form-group">
        <label for="inputPassword">Пароль</label>
            <input type="text" id="inputPassword" class="form-control" placeholder="Пароль" name="Password" />
    </div>

    <div class="form-group">
        <label for="inputPasswordConfirm">Повторить пароль</label>
        <div>
            <input type="text" id="inputPasswordConfirm" class="form-control" placeholder="Пароль" name="PasswordConfirm" />
        </div>
    </div>

    <div>
        <input class="btn btn-success" type="submit" value="Зарегистрировать" />
    </div>

}