@model List<Coop.ViewModels.CompanyModel>

<form method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <ul>
        <li>
            Выберите дом
        </li>
        <li>
            <select name="HouseId">
                @foreach (var company in Model)
                {
                    <optgroup label=@company.Name>
                        @foreach (var house in company.Houses)
                        {
                            <option value=@house.Id>@house.getAddress()</option>
                        }
                    </optgroup>
                }
            </select>
        </li>
        <li> Номер квартиры </li>
        <li>
            <input type="number" name="ApartamentNumber">
        </li>

        <li>
            <input class="form-check-input" type="radio" name="IsRoomer" id="exampleRadios1" value="true" checked>
            <label class="form-check-label" for="exampleRadios1">
                Default radio
            </label>

            <input class="form-check-input" type="radio" name="IsRoomer" id="exampleRadios2" value="false">
            <label class="form-check-label" for="exampleRadios2">
                Second default radio
            </label>
        </li>
        
        <li> Пароль </li>
        <li>
            <input type="password" name="Password">
        </li>
        <li>
            <input type="submit" value="Отправить">
        </li>
    </ul>
</form>